<!DOCTYPE html>
<html>
<head>
    <title>Payment Page</title>
</head>
<body>
    <h1>Choose a Package</h1>
    <form id="payment-form">
        <button id="pay-button" type="button">Pay Now</button>
    </form>

    <!-- Include Razorpay Checkout Script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.getElementById('pay-button').onclick = function() {
            var options = {
                "key": "{{  razorpay_key_id }}", // Your Razorpay Test Key ID
                "amount": "{{ 10908 }}", // Amount in paise
                "currency": "INR",
                "name": "Bodhiguru",
                "description": "Package Payment",
                "handler": function (response){
                    // Call your backend to save the payment details
                    fetch('/payments/payment_confirmation/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_signature: response.razorpay_signature
                        })
                    }).then(response => response.json())
                    .then(data => {
                        alert('Payment successful');
                    });
                },
                "prefill": {
                    "name": "Customer Name",
                    "email": "customer@example.com",
                    "contact": "9999999999"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            
            var paymentObject = new Razorpay(options);
            paymentObject.open();
        };
    </script>
</body>
</html>
